@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Poppins, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('./assets/bgnew.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}


body {
  @apply overflow-x-hidden text-gray-900;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
